#menu
{
	background: -webkit-gradient(linear, left top, left bottom, from(#6097B1), to(#205771));
	background: -moz-linear-gradient(top,  #6097B1,  #205771);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6097B1', endColorstr='#205771');
}
