#container
{
	width: 960px;
	margin: 5px auto;
}

#menu
{
	color: white;
	padding: 8px 24px;
	margin: 10px 0;

	background: #6097B1;
	background: -webkit-gradient(linear, left top, left bottom, from(#6097B1), to(#205771));
	background: -moz-linear-gradient(top,  #6097B1,  #205771);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6097B1', endColorstr='#205771');
}

#menu a
{
	color: white;
}

#title, h1, h2, h3
{
	font-family: 'Ubuntu', arial, serif;
}

#title a
{
	font-size: 3em;
}

#title
{
	display: inline;
	padding-right: 20px;
	text-shadow: black 0 0 1px;
}

html
{
	font-family: 'Droid Sans', arial, serif;
}

a
{
	color: #6097B1;
	text-decoration: none;
}

.boxshadow, #menu
{
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.borderRadius, #menu
{
	border-radius: .3em;
}

#nav, #nav ul
{
	font-size: 1em;
	display: inline-block;
}

#nav li
{
	padding-right: 8px;
	display: inline-block;
}

#footer
{
	text-shadow: black 0 0 1px;

	position: fixed;
	bottom: 10px;

	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	
	color: white;
	padding: 8px 20px;
	border-radius: .2em;

	background: #333333;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(black));
	background: -moz-linear-gradient(top,  #333333,  black);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='black');
}
