#menu
{
	background: #FFB518;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFB518), to(#CF9500));
	background: -moz-linear-gradient(top,  #FFB518,  #CF9500);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB518', endColorstr='#CF9500');

}

.calendar
{
	width: 100%;
}


.calendar thead td
{
	padding: 8px 0;
	background-color: #333;
	color: white;
	border: 1px solid #333;

}
.calendar tbody td
{
	height: 200px;
	width: 14%;
	padding: 4px;
}

.calendarDay
{
	float: left;
}

.calendar td
{
	border: 1px solid #333;
}

h1
{
	font-size: 26px;
}

.center
{
	text-align: center;
}

.calendar .today
{
	background-color: #eeeeff;
}

.calendar thead td:first-child
{
	border-top-left-radius: .5em;
	border: none;
}

.calendar thead td:last-child
{
	border-top-right-radius: .5em;
	border: none;
}

table.gallery
{
	width: 100%;
}

.gallery img
{
	max-width: 100%;
	max-height: 100%;
	border-radius: .5em;
	margin: 8px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.gallery tr, .gallery td
{
	height: 200px;
	text-align: center;
}

#bigImage
{
	max-width: 100%;
	max-height: 400px;

	border-radius: .5em;

	border: 1px solid rgba(0,0,0,0);

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;

	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

#bigImage:hover {
	border-color: #FFD000;
    box-shadow: 0 0 20px #FFD000;
    -webkit-box-shadow: 0 0 20px #FFD000;
    -moz-box-shadow: 0 0 20px #FFD000;
}

#bigImageHolder
{
	text-align: center;
	padding: 12px;
	max-width: 75%;
	margin: auto;
}

#bigImageTitle
{
	font-size: 22px;
	padding: 6px;
}

.adminLink
{
	padding-right: 8px;
}

.adminImage img, .adminImage div.file
{
	width: 200px;
	margin-right: 32px;
	float: left;
}

.adminImage img
{
	border: 1px solid darkGray;
    box-shadow: 0 0 6px darkGray;
}

.adminImage textarea
{
	padding: 18px;
	font-size: 20px;
	width: 725px;
	min-height: 111px;
}

.adminImage
{
	clear: both;
	padding-top: 4px;
}

img, input[type="text"], input[type="password"], textarea
{
	border: 1px solid darkGray;
    box-shadow: 0 0 6px darkGray;
    -webkit-box-shadow: 0 0 6px darkGray;
    -moz-box-shadow: 0 0 6px darkGray;
}

.deleteImage
{
	visibility: hidden;
	width: 186px;
	font-size: 22px;
	text-align: center;
	padding: 8px;
}

